<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="phone">

  <!-- HEADER -->
  <div class="top">
    <h2>Home</h2>
  </div>

  <!-- BALANCE CARD -->
  <div class="balance">
    <p>Total Balance</p>
    <h1>₹<span id="balance">0</span></h1>
  </div>

  <!-- MINI CARDS -->
  <div class="row">
    <div class="box income">
      <p>Total Salary</p>
      <h3>₹<span id="income">0</span></h3>
    </div>

    <div class="box expense">
      <p>Total Expense</p>
      <h3>₹<span id="expense">0</span></h3>
    </div>
  </div>

  <!-- ANALYTICS -->
  <h3 class="title">Analytics</h3>
  <canvas id="barChart"></canvas>

  <!-- FORM -->
  <form action="/add" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="number" name="amount" placeholder="Amount" required>

    <select name="type">
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select>

    <input type="text" name="category" placeholder="Category">
    <input type="date" name="date">

    <button>Add</button>
  </form>

  <!-- TRANSACTIONS -->
  <h3 class="title">Transactions</h3>
  <ul id="list"></ul>

</div>

<script src="/js/script.js"></script>

</body>
</html>
